/* 
    # Google Font Import
        - font-family: 'Bebas Neue', sans-serif;
        - font-family: 'Open Sans', sans-serif;
        - font-family: 'JetBrains Mono', monospace;
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Tailwind Classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --conic-border-angle: 0turn;
    }
}
@property --conic-border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-y: none;
    background-color: #111;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 50px #111 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #777 !important;
}

::-webkit-scrollbar {
    width: 0;
}
